* {
  box-sizing: border-box;
}
/* BACKGROUND COLORS */
body {
  margin: 0;
  overflow-x: hidden;
}

.section-one,
.section-two {
  background-color: rgba(165, 42, 42, 0.308);
  opacity: 0.9;
}

/* BACKGROUND IMAGE */

body {
  background: url("https://www.shutterstock.com/shutterstock/photos/311871896/display_1500/stock-photo-solar-system-and-space-objects-elements-of-this-image-furnished-by-nasa-311871896.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* HEADER */

header {
  display: Flex;
  justify-content: space-between;
}

#header-img {
  max-width: 15%;
  border-radius: 10px;
  opacity: 1;
  padding-left: 5px;
  margin-top: 1.5rem;
}

#nav-bar {
  position: relative;
  right: 1rem;
}

ul {
  gap: 15px;
  padding-right: 5px;
  display: flex;
}

li {
  list-style: none;
}

a {
  font-weight: bold;
  color: white;
}

/* SECTION ONE */

.section-one {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.main-description {
  color: white;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 10px;
}

form {
  color: white;
}

input {
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
}

/* SECTION TWO */

.section-two {
  height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}
.Earth-pic,
.Saturn-pic,
.Jupiter-pic {
  max-width: 20%;
  height: auto;
  border-radius: 1rem;
  margin-left: 1rem;
}

#Earth,
#Saturn,
#Jupiter {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  font-weight: bold;
  color: white;
}

/* SECTION THREE */

.video {
  margin-top: 50px;
  display: Flex;
  justify-content: Center;
  align-content: center;
  margin-bottom: 150px;
}

/* FOOTER */

footer {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 1.5em;
}

/* MEDIA QUERIES (applies on large screens) */

@media (min-width: 400px) {
  .section-two {
    display: flex;
    flex-wrap: wrap;
  }
  #Earth,
  #Saturn,
  #Jupiter {
    color: rgb(14, 14, 15);
  }

  #nav-bar {
    position: fixed;
    z-index: 1;
  }

  /* ANIMATIONS (built within media query - large screens only) */

  .Earth-pic,
  .Saturn-pic,
  .Jupiter-pic {
    max-width: 20%;
    height: auto;
    transition: width 3s ease-out 0.4s;
  }

  .Earth-pic:hover,
  .Saturn-pic:hover,
  .Jupiter-pic:hover {
    max-width: 25%;
    height: auto;
  }
}
